* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

a:focus,
a:active {
	outline: none;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.wrapper {
	max-width: 800px;
	margin: 0 auto;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
}

p {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.5rem;
}

p span {
	color: red;
}

img {
	width: 800px;
	height: 800px;
}

section {
	position: relative;
	margin: 0 0 1rem 0;
}

section>span {
	display: none;
	pointer-events: none;
	position: absolute;
	width: 0.5rem;
	height: 0.5rem;
	border: 1px solid black;
	border-radius: 50%;
	overflow: hidden;
	background-color: red;
}

section>div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button {
	color: #232323;
	background: transparent;
	border: 1px solid #232323;
	position: relative;
	font-size: 16px;
	letter-spacing: .3em;
	font-family: 'Montserrat', sans-serif;
	padding: 0.5em 1.1em 0.5em 1.1em;
	transition: .2s ease-in-out;
	cursor: pointer;
}

button:hover:not(:disabled) {
	background-color: #232323;
	color: #fff;
}

button:disabled {
	opacity: 0.5;
}